@import "tailwindcss";

@theme {
  --color-brand-primary: #d4a373; /* Golden Caramel */
  --color-brand-secondary: #ffb5a7; /* Soft Pastel Pink */
  --color-brand-tertiary: #b5e2cb; /* Mint */
  --color-brand-cream: #fdfbf7; /* Warm Cream */
  --color-brand-brown: #2d1b11; /* Dark Chocolate Brown */
  
  --font-display: "Playfair Display", serif;
  --font-dancing: "Dancing Script", cursive;
}

:root {
  --background: #fdfbf7;
  --foreground: #2d1b11;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.font-display {
  font-family: var(--font-display);
}

.font-dancing {
  font-family: var(--font-dancing);
}

